<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anther.mappers.ChatSessionMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.anther.entity.po.ChatSession">
		<!--会话ID，唯一标识一条会话记录-->
		<id column="session_id" property="sessionId"  />
		<!--当前用户ID，表示该会话属于哪个用户-->
		<result column="user_id" property="userId"  />
		<!--联系人ID，可以是好友ID或群ID-->
		<result column="contact_id" property="contactId"  />
		<!--会话类型：1=单聊 2=群聊-->
		<result column="session_type" property="sessionType"  />
		<!--最后一条消息内容，用于会话列表展示-->
		<result column="last_message" property="lastMessage"  />
		<!--最后接收消息时间，用于会话排序-->
		<result column="last_receive_time" property="lastReceiveTime"  />
		<!--未读消息数量-->
		<result column="unread_count" property="unreadCount"  />
		<!--创建时间-->
		<result column="create_time" property="createTime"  />
		<!--更新时间-->
		<result column="update_time" property="updateTime"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 session_id,user_id,contact_id,session_type,last_message,
		 last_receive_time,unread_count,create_time,update_time
	</sql>

	<sql id="base_condition_filed">
		<if test="query.sessionId != null">
			 and  session_id = #{query.sessionId}
		</if>
		<if test="query.userId != null and query.userId!=''">
			 and  user_id = #{query.userId}
		</if>
		<if test="query.contactId != null and query.contactId!=''">
			 and  contact_id = #{query.contactId}
		</if>
		<if test="query.sessionType != null">
			 and  session_type = #{query.sessionType}
		</if>
		<if test="query.lastMessage != null and query.lastMessage!=''">
			 and  last_message = #{query.lastMessage}
		</if>
		<if test="query.lastReceiveTime != null and query.lastReceiveTime!=''">
			 <![CDATA[ and  last_receive_time=str_to_date(#{query.lastReceiveTime}, '%Y-%m-%d') ]]>
		</if>
		<if test="query.unreadCount != null">
			 and  unread_count = #{query.unreadCount}
		</if>
		<if test="query.createTime != null and query.createTime!=''">
			 <![CDATA[ and  create_time=str_to_date(#{query.createTime}, '%Y-%m-%d') ]]>
		</if>
		<if test="query.updateTime != null and query.updateTime!=''">
			 <![CDATA[ and  update_time=str_to_date(#{query.updateTime}, '%Y-%m-%d') ]]>
		</if>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
		<where>
			<include refid="base_condition_filed" />
			<if test="query.userIdFuzzy!= null  and query.userIdFuzzy!=''">
				 and  user_id like concat('%', #{query.userIdFuzzy}, '%')
			</if>
			<if test="query.contactIdFuzzy!= null  and query.contactIdFuzzy!=''">
				 and  contact_id like concat('%', #{query.contactIdFuzzy}, '%')
			</if>
			<if test="query.lastMessageFuzzy!= null  and query.lastMessageFuzzy!=''">
				 and  last_message like concat('%', #{query.lastMessageFuzzy}, '%')
			</if>
			<if test="query.lastReceiveTimeStart!= null and query.lastReceiveTimeStart!=''">
				 <![CDATA[ and  last_receive_time>=str_to_date(#{query.lastReceiveTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.lastReceiveTimeEnd!= null and query.lastReceiveTimeEnd!=''">
				 <![CDATA[ and  last_receive_time< date_sub(str_to_date(#{query.lastReceiveTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="query.createTimeStart!= null and query.createTimeStart!=''">
				 <![CDATA[ and  create_time>=str_to_date(#{query.createTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.createTimeEnd!= null and query.createTimeEnd!=''">
				 <![CDATA[ and  create_time< date_sub(str_to_date(#{query.createTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="query.updateTimeStart!= null and query.updateTimeStart!=''">
				 <![CDATA[ and  update_time>=str_to_date(#{query.updateTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.updateTimeEnd!= null and query.updateTimeEnd!=''">
				 <![CDATA[ and  update_time< date_sub(str_to_date(#{query.updateTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
		</where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM chat_session <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM chat_session <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.anther.entity.po.ChatSession">
		<selectKey keyProperty="bean.sessionId" resultType="Long" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		 INSERT INTO chat_session
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.contactId != null">
				 contact_id,
			</if>
			<if test="bean.sessionType != null">
				 session_type,
			</if>
			<if test="bean.lastMessage != null">
				 last_message,
			</if>
			<if test="bean.lastReceiveTime != null">
				 last_receive_time,
			</if>
			<if test="bean.unreadCount != null">
				 unread_count,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
			<if test="bean.updateTime != null">
				 update_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.contactId!=null">
				 #{bean.contactId},
			</if>
			<if test="bean.sessionType!=null">
				 #{bean.sessionType},
			</if>
			<if test="bean.lastMessage!=null">
				 #{bean.lastMessage},
			</if>
			<if test="bean.lastReceiveTime!=null">
				 #{bean.lastReceiveTime},
			</if>
			<if test="bean.unreadCount!=null">
				 #{bean.unreadCount},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
			<if test="bean.updateTime!=null">
				 #{bean.updateTime},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.anther.entity.po.ChatSession">
		 INSERT INTO chat_session
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.sessionId != null">
				 session_id,
			</if>
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.contactId != null">
				 contact_id,
			</if>
			<if test="bean.sessionType != null">
				 session_type,
			</if>
			<if test="bean.lastMessage != null">
				 last_message,
			</if>
			<if test="bean.lastReceiveTime != null">
				 last_receive_time,
			</if>
			<if test="bean.unreadCount != null">
				 unread_count,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
			<if test="bean.updateTime != null">
				 update_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.sessionId!=null">
				 #{bean.sessionId},
			</if>
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.contactId!=null">
				 #{bean.contactId},
			</if>
			<if test="bean.sessionType!=null">
				 #{bean.sessionType},
			</if>
			<if test="bean.lastMessage!=null">
				 #{bean.lastMessage},
			</if>
			<if test="bean.lastReceiveTime!=null">
				 #{bean.lastReceiveTime},
			</if>
			<if test="bean.unreadCount!=null">
				 #{bean.unreadCount},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
			<if test="bean.updateTime!=null">
				 #{bean.updateTime},
			</if>
		 </trim>
		 on DUPLICATE key update 
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.userId!=null">
				 user_id = VALUES(user_id),
			</if>
			<if test="bean.contactId!=null">
				 contact_id = VALUES(contact_id),
			</if>
			<if test="bean.sessionType!=null">
				 session_type = VALUES(session_type),
			</if>
			<if test="bean.lastMessage!=null">
				 last_message = VALUES(last_message),
			</if>
			<if test="bean.lastReceiveTime!=null">
				 last_receive_time = VALUES(last_receive_time),
			</if>
			<if test="bean.unreadCount!=null">
				 unread_count = VALUES(unread_count),
			</if>
			<if test="bean.createTime!=null">
				 create_time = VALUES(create_time),
			</if>
			<if test="bean.updateTime!=null">
				 update_time = VALUES(update_time),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.anther.entity.po.ChatSession" useGeneratedKeys="true" keyProperty="sessionId">
		 INSERT INTO chat_session(
			 user_id,
			 contact_id,
			 session_type,
			 last_message,
			 last_receive_time,
			 unread_count,
			 create_time,
			 update_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.userId},
				 #{item.contactId},
				 #{item.sessionType},
				 #{item.lastMessage},
				 #{item.lastReceiveTime},
				 #{item.unreadCount},
				 #{item.createTime},
				 #{item.updateTime}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.anther.entity.po.ChatSession">
		 INSERT INTO chat_session(
			 user_id,
			 contact_id,
			 session_type,
			 last_message,
			 last_receive_time,
			 unread_count,
			 create_time,
			 update_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.userId},
				 #{item.contactId},
				 #{item.sessionType},
				 #{item.lastMessage},
				 #{item.lastReceiveTime},
				 #{item.unreadCount},
				 #{item.createTime},
				 #{item.updateTime}
			 )
		 </foreach>
			on DUPLICATE key update 
			user_id = VALUES(user_id),
			contact_id = VALUES(contact_id),
			session_type = VALUES(session_type),
			last_message = VALUES(last_message),
			last_receive_time = VALUES(last_receive_time),
			unread_count = VALUES(unread_count),
			create_time = VALUES(create_time),
			update_time = VALUES(update_time)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.anther.entity.query.ChatSessionQuery">
		 UPDATE chat_session
 		 <set> 
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.contactId != null">
				 contact_id = #{bean.contactId},
			</if>
			<if test="bean.sessionType != null">
				 session_type = #{bean.sessionType},
			</if>
			<if test="bean.lastMessage != null">
				 last_message = #{bean.lastMessage},
			</if>
			<if test="bean.lastReceiveTime != null">
				 last_receive_time = #{bean.lastReceiveTime},
			</if>
			<if test="bean.unreadCount != null">
				 unread_count = #{bean.unreadCount},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
			<if test="bean.updateTime != null">
				 update_time = #{bean.updateTime},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete from chat_session
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据SessionId修改-->
	<update id="updateBySessionId" parameterType="com.anther.entity.po.ChatSession">
		 UPDATE chat_session
 		 <set> 
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.contactId != null">
				 contact_id = #{bean.contactId},
			</if>
			<if test="bean.sessionType != null">
				 session_type = #{bean.sessionType},
			</if>
			<if test="bean.lastMessage != null">
				 last_message = #{bean.lastMessage},
			</if>
			<if test="bean.lastReceiveTime != null">
				 last_receive_time = #{bean.lastReceiveTime},
			</if>
			<if test="bean.unreadCount != null">
				 unread_count = #{bean.unreadCount},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
			<if test="bean.updateTime != null">
				 update_time = #{bean.updateTime},
			</if>
 		 </set>
 		 where session_id=#{sessionId}
	</update>

	<!-- 根据SessionId删除-->
	<delete id="deleteBySessionId">
		delete from chat_session where session_id=#{sessionId}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectBySessionId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from chat_session where session_id=#{sessionId}
	</select>

	<!-- 根据UserIdAndContactId修改-->
	<update id="updateByUserIdAndContactId" parameterType="com.anther.entity.po.ChatSession">
		 UPDATE chat_session
 		 <set> 
			<if test="bean.sessionType != null">
				 session_type = #{bean.sessionType},
			</if>
			<if test="bean.lastMessage != null">
				 last_message = #{bean.lastMessage},
			</if>
			<if test="bean.lastReceiveTime != null">
				 last_receive_time = #{bean.lastReceiveTime},
			</if>
			<if test="bean.unreadCount != null">
				 unread_count = #{bean.unreadCount},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
			<if test="bean.updateTime != null">
				 update_time = #{bean.updateTime},
			</if>
 		 </set>
 		 where user_id=#{userId} and contact_id=#{contactId}
	</update>

	<!-- 根据UserIdAndContactId删除-->
	<delete id="deleteByUserIdAndContactId">
		delete from chat_session where user_id=#{userId} and contact_id=#{contactId}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectByUserIdAndContactId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from chat_session where user_id=#{userId} and contact_id=#{contactId}
	</select>

</mapper>